extends layout

block content
	h1 Thermite?

	h2 Nodes
	ul
		for node in nodes
			li= node.host + ':' + node.port

	form(action="/runquery", method="POST")
		.queryInput
			textarea(name="queryText",rows=10,cols=100) SELECT * FROM TestData
		.queryReduceInput
			label
				| Union
				input(type='radio',name='combine',value='union',checked)
		.queryButtons
			button(type="submit") Execute