html {
  height: 100%;
}
body {
  height: 100%;
  padding: 50px;
  font: 14px Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
  background-color: #272822;
  padding: 0;
  margin: 0;
  color: #ddd;
}
.header {
  border-radius: 7px;
  border-width: 1px;
  border-style: solid;
  border-color: #55574a #1f201b #1f201b #55574a;
  background-color: #272822;
  background-repeat: no-repeat;
  background: radial-gradient(ellipse 250% 120% at 50% 30%, #494b40 0%, #272822 100%);
/* W3C */
  overflow: auto;
  padding: 0.2em;
}
.header ul.nav {
  list-style-type: none;
  margin: 0;
  padding: 0.5em 0 0.5em 0;
  overflow: auto;
}
.header ul.nav li {
  float: left;
  margin: 0 0 0 0.5em;
  padding: 0;
}
.header h1,
.header h2,
.header h3 {
  float: left;
  margin: 0;
}
.main {
  padding: 1em;
}
div.editor {
  border-style: solid;
  border-width: 1px;
  border-color: #1f201b #55574a #55574a #1f201b;
  border-radius: 5px;
}
a {
  color: #00b7ff;
}
h1,
h2,
h3,
h4 {
  font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
}
table.data {
  background-color: #23241f;
  width: 100%;
}
table.data thead {
  background-color: #1f201b;
  color: #e6db74;
}
td.incomplete {
  background-color: #800;
}
td.belowdupefactor {
  background-color: #880;
}
td.atdupefactor {
  background-color: #080;
}
table.files tbody td .incomplete {
  background-color: #800;
}
table.files tbody td .belowdupefactor {
  background-color: #880;
}
table.files tbody td .atdupefactor {
  background-color: #080;
}
