baseFont = Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif
accentFont = Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif
bgColor = #272822

circle-gradient(radius, position, innerColor, outerColor)
	background-repeat no-repeat
	background: radial-gradient(circle radius at position,  innerColor 0%,outerColor 100%); /* W3C */

ellipse-gradient(width, height, position, innerColor, outerColor)
	background-repeat no-repeat
	background: radial-gradient(ellipse width height at position,  innerColor 0%,outerColor 100%); /* W3C */

border-color-inset(baseColor)
	border-dark = darken(baseColor, 20%)
	border-light = lighten(baseColor, 20%)
	border-color border-dark border-light border-light border-dark

html
	height 100%
body
	height 100%

	padding: 50px
	font: 14px baseFont
	background-color bgColor
	
	padding 0
	margin 0

	color: #ddd

.header
	border-dark = darken(bgColor, 20%)
	border-light = lighten(bgColor, 20%)
	border-radius 7px
	border-width 1px
	border-style solid
	border-color border-light border-dark border-dark border-light
	background-color bgColor
	ellipse-gradient(250%, 120%, 50% 30%, lighten(bgColor, 15%), bgColor)
	overflow auto //so floats work

	ul.nav
		list-style-type none
		margin 0
		padding 0.5em 0 0.5em 0
		overflow auto
		li
			float left
			margin 0 0 0 0.5em
			padding 0
			
	h1, h2, h3
		float left
		margin 0

	padding: 0.2em

.main
	padding 1em;

div.editor
	border-style solid
	border-width 1px
	border-color-inset bgColor
	border-radius 5px

a
	color: #00B7FF

h1, h2, h3, h4
	font-family accentFont

table.data
	background-color darken(bgColor, 10%)
	width 100%

	thead
		background-color darken(bgColor, 20%)
		color #E6DB74

td.incomplete
	background-color #880000

td.belowdupefactor
	background-color #888800

td.atdupefactor
	background-color #008800
	
	
table.files
	tbody
		td
			.incomplete
				background-color #880000

			.belowdupefactor
				background-color #888800

			.atdupefactor
				background-color #008800	

