extends layout

block content
 
	form(action="/upload", method="POST", enctype="multipart/form-data")
		input(type='text', name='keys' value='') 
		.queryButtons
			input(type='file', name='file')
			input(type='submit', value='Upload')
	table.data
		thead
			tr			
				th Name
				th Size
				th Actions
		tbody				
			each file in files
				pre= JSON.stringify files

				tr
					td= file.name
					td= file.size
					td(class=file.status)
						form(action="/fix", method="POST")
							input(type='hidden', value= file.guid name='file[guid]')
							input(type='submit', value='Fix')
						
