extends layout

block content

	form(action="/upload", method="POST")
		input(type='text', id='keys' value='col1,col2...') 
		.queryButtons
			input(type='file', id='filename')
			input(type='submit', value='Upload')

