extends layout

block content

	form(action="/runquery", method="POST")
		
		h3 SQL Script:
		div#queryEditor(style='min-height: 200px;')
			| SELECT * FROM TestData

		textarea(id='queryTextArea', name='query', style='display: none;')

		h3 Script:
		div#scriptEditor(style='min-height: 200px;')
			| data.forEach( function(row) { row.LastName = row.LastName.toUpperCase(); });

		textarea(id='scriptTextArea', name='script', style='display: none')

		.queryButtons
			button(type="submit") Execute

	script(src='scripts/ace-editor/ace.js')

	:coffeescript
		setupEditor = (name, mode) ->
			editor = ace.edit "#{name}Editor"

			editor.setTheme 'ace/theme/monokai'
			editor.getSession().setMode(mode)

			textArea = $ "##{name}TextArea"

			textArea.val(editor.getSession().getValue());

			editor.getSession().on 'change', ->
				textArea.val(editor.getSession().getValue());

		$ ->
			setupEditor 'query', 'ace/mode/sql'
			setupEditor 'script', 'ace/mode/javascript'