extends layout

block content

	form(action="/runquery", method="POST")
		
		h3 SQL Script:
		div#queryEditor(style='min-height: 200px;')
			| SELECT AVG(Age) AS AverageAge, ZipCode FROM TestData GROUP BY ZipCode ORDER BY ZipCode

		textarea(id='queryTextArea', name='query', style='display: none;')

		h3 Parsed SQL
		div#parsedEditor(style='min-height: 200px;')

		h3 Script:
		div#scriptEditor(style='min-height: 200px;')

		textarea(id='scriptTextArea', name='script', style='display: none')

		.queryButtons
			button(type="submit") Execute

	script(src='scripts/ace-editor/ace.js')
	script(src='scripts/underscore/underscore-min.js')

	:coffeescript
		setupEditor = (name, mode, useTextArea = true) ->
			editor = ace.edit "#{name}Editor"

			editor.setTheme 'ace/theme/monokai'
			editor.getSession().setMode(mode)

			if useTextArea
				textArea = $ "##{name}TextArea"

				textArea.val(editor.getSession().getValue());

				editor.getSession().on 'change', ->
					textArea.val(editor.getSession().getValue());

			editor

		$ ->
			queryEditor = setupEditor 'query', 'ace/mode/sql'
			setupEditor 'script', 'ace/mode/javascript'
			parsedEditor = setupEditor 'parsed', 'ace/mode/javascript'
			parsedEditor.setReadOnly(true)

			console.log queryEditor.getValue()

			getParsedData = () ->
				onSuccess = (data) ->
					parsedEditor.setValue(JSON.stringify(data, null, '    '))
				$.post '/parsestatement', query: queryEditor.getValue(), onSuccess

			getParsedData() # do it once to start, in cse there is somethign in the editor already

			#auto-parse
			queryEditor.getSession().on 'change', _.debounce getParsedData, 300
					