extends layout

block content
	h2 SQL Query:
	pre.sql= queryText

	h3 Results:

	table.data
		thead
			tr
				each v, k in data[0]
					th= k
		tbody
			each row in data
				tr
					each field in row
						td= JSON.stringify(field)

	:coffeescript
		$ ->


